*{
    margin: 0;
    padding: 0;
}
html {
    background: url("/static/friends_app/img/friends.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    height: 100vh;
}

h4{
    text-align: center;
    color: black;
    font-size: 1.5rem;
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

nav {
    text-align: center;
    color: grey;
    font-size: 1.5rem;
    height: 100%;
    padding-top: 20px;
}

nav a {
    color: grey;
    font-size: 2rem;
    margin: 1px;
}


