{% extends 'friends_app/base.html' %}

{% load static %}

{% block index_additional %}
    <link rel="stylesheet" href="{% static 'friends_app/css/list_director.css' %}">
{% endblock %}

{% block title %} {{title}} {% endblock %}


{% block content %}

    {% include 'includes/navbar.html' %}
    <ul>
        <li>
            {% for i in dir %}
                <h2><a href="{{i.get_director_url}}">{{i.first_name}} {{i.last_name}}</a></h2>
                <p>{{i.content}}</p>
                {% if i.photo %}
                    <p><img src="{{i.photo.url}}" alt="" height="260" width="200"></p>
                {% endif %}
            <hr>
            {% endfor %}

        </li>
    </ul>
    <h3>Максимальный возраст режиссера: {{agg.age__max}} лет</h3>
    <h3>Минимальный возраст режиссера: {{agg.age__min}} лет</h3>
{% include 'includes/paginator.html' %}
{% endblock %}